.exercise-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}

.questions {
    margin-top: 39px;
    margin-left: 29px;
    background-color: rgb(239, 248, 248);
}

.first {
    background-color: lightblue;
}